html{
  scroll-behavior: smooth;
}

body{
  background: #FFFFFF;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 25px;
  color: #000000;
}

.active {
  text-decoration: underline;
  text-decoration-color: #C44D58;
}
 
b{
  color: #BF0603;
}

h1{
  font-size: 50px;
  line-height: 1;
  text-align: left;
  color: #000000;
  padding-bottom: 10px;  
}

h2{
  font-size: 20px;
  line-height: 2;   
}

nav ul{
  list-style-type: none;
  color: #000000;
}

nav li{
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  width: 15%;
  text-align: center;
}
nav li:hover{
  text-decoration:none;
}

nav a{
  color: black;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #000000;
}

nav a:hover{
  text-decoration:none;
  background: #2a2a2a;
  color: #eeeeee;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top: 0px;
}

.logo {
  width: 150px;
  padding: 20px; 
    
}
.img {
  width: 25%;
  height: auto;
  float: left;
  margin-right: 30px; 
  border: 2px white solid;
  border-radius: 5px;
  border: 2px solid #eeeeee;
  margin-top: 20px;
}

*:focus {
  border: 1px solid #2a2a2a;
}


.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 5fr 1fr 1fr;
  grid-row-gap: 0px;
  grid-template-rows: 80px 50px 5px 5px 40px 10px auto auto 100px 300px 100px auto 50px 50px 50px; 
  width: 100vw; 
    
}

.nav{
  grid-column: 1/span 6;
  align-items: center; 
  text-align: center;
  grid-row: 4/span 3;
  background-color: #eeeeee;
  padding-top: 5px;
  margin-bottom: 5px;
  padding-left: 5%;
}

header{
  background: transparent;
  color: #000000;
  height: 400px;               
  grid-column: 1/span 4;
  align-items: left;
  text-align: left;
  grid-row: 1/span 1;
  padding-top: 0px;
  margin-left: 12%;
  margin-top: 3%;
}

.outline {
  grid-column: 1/span 6;
  align-items: center;
  grid-row: 3/span 5;
  background: transparent;    
  color: black;
  border-top: 2px solid #C4C4C4;  
  border-bottom: 2px solid #C4C4C4;   
}

.content{
  grid-column: 2/span 4;
  align-items: center;
  grid-row: 8/span 2;
  background: white;
  color: black;
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 10px; 
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.content p{
  color: black;
  line-height: 40px;
  font-size: 16px;
    
}

.content b{
  color: #C44D58;
  font-weight: bold;
}
.content h2{
  font-size: 40px;
  margin-bottom: 0px;
  text-shadow: 2px 2px #eaeaea;
    
}

.content2{
  grid-column: 2/span 4;
  align-items: center;
  grid-row: 10/span 4;
  background: white;
  color: black;
  margin-bottom: 100px;
  padding-top: 10px; 
  padding-bottom: 50px;  
}

.content2 h2{
  font-size: 40px;
  margin-bottom: 0px;
  background: #F4D58D;
  color: #FFFFFF;
  text-shadow: 2px 2px #eaeaea;
  padding-left: 15px;
}

.content2 h3{
  font-size: 20px;
  margin-bottom: 0px;
  color: #000000;
  text-shadow: 2px 2px #eaeaea;
  padding-left: 15px;
}

.projects {
  width: 20%;
  height: 300px;
  float: left;
  padding: 15px;
  margin: 10px;
  background: white;
  color: black;
  border: 1px #eeeeee solid;
}

.projects:hover{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.projectimg {
  width: 100%;
  height: auto;
  overflow: hidden;
  
}

.content3{
  grid-column: 2/span 4;
  align-items: center;
  grid-row: 10/span 4;
  background: white;
  color: black;
  display: none;
  margin-bottom: 100px;
  padding-top: 10px; 
  padding-bottom: 50px;
}

.publications-container {
  display: grid;
  grid-template-columns: 2fr 2fr ;
  width: 100vw; 
  grid-column-gap: 20px;
  grid-template-rows: 50px 5px 5px 40px 10px auto auto 100px 300px 100px auto 50px 50px 50px;
}

.published {
  grid-column: 1 / span 1;
  grid-row: 5 / span 6;
}

.tutorials {
  grid-column: 2 / span 1;
  grid-row: 5 / span 6;
}

.workshop {
  grid-column: 2 / span 1;
  grid-row: 7 / span 5;
}

.technical {
  grid-column: 2 / span 1;
  grid-row: 8 / span 4;
}

footer{
  background: #eeeeee;
  color: white;
  width: 100%;
  text-align: center;
  grid-column: 1/span 6;
  grid-row: 14/span 1;
  height: 60px;
  bottom: 0%;
  padding-bottom: 5%;
}


@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; 
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: 0s;
    transition: 0s;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}