html {
    scroll-behavior: smooth;
}
.logo {
    width: 300px;
}

 .skip a {
        background: white;
        left: 0;
        padding: 6px;
        position: absolute;
        top: -40px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
    }

    .skip a:focus {
        top: 0px;
    }

body {
    /* background: #FFFFFF; */
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 25px;
    color: #000000;
    /*background-color: #EAE7DC;*/
    background-color: #eeeeee;
    min-height: 100%;
    position: relative;
}
footer {
    background: #2f2f2f;
    color: #FFFFFF;
    text-align: center;
    border-top: 2px solid white;
    position: absolute;
    width: 100%;
    display: block;
    padding-top: 5px;
    bottom: 0;
}
b {
    color: #E85A4F;
}
a {
    color: #803333;
    text-decoration:none;
}
h1 {
     text-align: center;
	   font-size: 30px;
	   color: #FFFFFF;
        background: #803333;
            margin-bottom: 5px;
    padding: 10px;
    /* width: 300px; */
}
h2 {
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
}
nav ul {
    /* list-style-type: none; */
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
nav li{
    /* display: flex;
    flex-direction: row; */
    /* margin-right: 10px; */
    /* padding: 25px; */
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    /* width: 15%; */
    text-align: center;
}
nav a{
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    /* color: #FFFFFF; */
}

.nav-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 90px 40px;
}


.all-nav{
    grid-column: 4/span 2;
    align-items: center;
    text-align: center;
    grid-row: 1 / span 1;
    background: transparent;
    padding-top: 5px;
    margin-bottom: 5px;

}

.all-header {
    background: #2f2f2f;
    color: #000000;
    grid-column: 1/span 4;
    text-align: left;
    padding-left: 5px;
    grid-row: 1/span 2;
    padding-top: 15px;
    padding-top: 30px;
    border-bottom: 2px solid white;

}
nav a{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

.img {
    width: 100%;
    
    /* margin-right: 30px; */
    border: 2px white solid;
    border-radius: 5px;
    border: 2px solid #eeeeee;
    margin-top: 10px;
    max-height: 350px;
    max-width: 250px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.current {
    text-decoration: underline;
    font-weight: bold;
}

.index-container {
    display: grid;
    grid-template-columns: .09fr 1fr .09fr;
    grid-row-gap: 15px;
    grid-template-rows: .8fr .4fr .05fr;
    grid-column-gap: 15px;
    width: 100vw;
}

.content{
    grid-column: 2/span 1;
    grid-row: 1/span 2;
	align-items: center;
        background: transparent;
        color: black;
        text-align: justify;
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 50px;
        border: 1px solid #000000;
        margin-bottom: 100px;
        margin-top: 30px;

}

.stuff {
    text-align: center;
}

.content h1 {
     text-align: center;
	   font-size: 30px;
	   color: #FFFFFF;
        background: #803333;
            margin-bottom: 5px;
    margin-top: 10px;
}

.content h2 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 0px;
    color: black;
    text-align:center;
}

.index-footer {
    grid-row:3;
    grid-column:1/span 3;
}

.index-head2 {
    grid-column: 1 / span 3;
    grid-row: 1/span 1;
    background: #FFFFFF;
    background-attachment: fixed;
    background-image: url('../images/michigan.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.student-container {
    display:grid;
    grid-template-columns: .2fr 3fr .2fr;
    grid-template-rows: 1fr .5fr .20fr;
	grid-row-gap: 15px;
}

.student-p {
    grid-column: 2 / span 1;
    color: black;
    text-align: justify;
    border: 1px solid black;
}

.student-p p {
    padding: 15px;
}

.student-p h1 {
    text-align: center;
	font-size: 30px;
	color: #FFFFFF;
        
        background: #803333;
}


.prospective {
    grid-row: 2 /span 1;
    grid-column: 2 / span 1;
    color: black;
    /* background-color: white; */
    text-align: justify;
    border: 1px solid black;
}

.prospective p {
    padding: 15px;
}

.prospective h1 {
   text-align: center;
	font-size: 30px;
	color: #FFFFFF;
        
        background: #803333;
}

/*  .student-footer {
         grid-row: 3/span 1;
         grid-column: 1 / span 4;
    } */

 .publications-container {
            display: grid;
            grid-template-columns: .18fr 1fr .18fr;
            grid-template-rows: 0.9fr .17fr .3fr .1fr .1fr .3fr .1fr .05fr;
    /*         grid-column-gap: 20px; */

        }

        .published {
            grid-column: 2;
            grid-row:1;

            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;

            border: 1px #2f2f2f solid;

        }

        .published ol {
            padding-left: 30px;
            font-size: 15px;
        }

        .published li {
/*             text-align: left; */
		text-align: justify;

        }

        .published h1 {
            text-align: center;
	   font-size: 30px;
	   color: #FFFFFF;
        background: #803333;
            margin-bottom: 5px;
        }

        .tutorials{
            grid-column: 2;
            grid-row: 2;

            margin-bottom: 20px;
            padding: 20px;
            border: 1px #2f2f2f solid;
        }

        .tutorials ol {
            padding-left: 30px;
            font-size: 15px;
        }

        .tutorials li{
            text-align: justify;
        }

        .tutorials h1 {
             text-align: center;
	   font-size: 30px;
	   color: #FFFFFF;
        background: #803333;
            margin-bottom: 5px;
        }

        .workshops {
            grid-column: 2;
            grid-row:3;

            margin-bottom: 20px;
            padding: 20px;
            border: 1px #2f2f2f solid;
        }
        .workshops ol {
            padding-left: 30px;
            font-size: 15px;
        }
        .workshops li {
            text-align: justify;

        }
        .workshops h1 {
             text-align: center;
	   font-size: 30px;
	   color: #FFFFFF;
        background: #803333;
            margin-bottom: 5px;

        }


        .technical {
            grid-column: 2;
            grid-row:4;

            margin-bottom: 20px;
            padding: 20px;
            border: 1px #2f2f2f solid;
        }
        .technical ol {
            padding-left: 30px;
            font-size: 15px;
        }
        .technical li {
            text-align: justify;

        }

        .technical h1 {
             text-align: center;
	   font-size: 30px;
	   color: #FFFFFF;
        background: #803333;
            margin-bottom: 5px;

        }

        .progress {
            grid-column: 2;
            grid-row:5;

            margin-bottom: 20px;
            padding: 20px;
            border: 1px #2f2f2f solid;
        }
        .progress ol {
            padding-left: 30px;
            font-size: 15px;
        }

        .progress {
            text-align: justify;
        }
        .progress h1 {
             text-align: center;
	   font-size: 30px;
	   color: #FFFFFF;
        background: #803333;
            margin-bottom: 5px;

        }

	.invited-talks {
            grid-column: 2;
            grid-row:6;

            margin-bottom: 20px;
            padding: 20px;
            border: 1px #2f2f2f solid;
        }
        .invited-talks ol {
            padding-left: 30px;
            font-size: 15px;
        }

        .invited-talks {
            text-align: justify;
        }
        .invited-talks h1 {
             text-align: center;
	   font-size: 30px;
	   color: #FFFFFF;
        background: #803333;
            margin-bottom: 5px;
        }

	.reports {
            grid-column: 2;
            grid-row:7;

            margin-bottom: 20px;
            padding: 20px;
            border: 1px #2f2f2f solid;
        }
        .reports ol {
            padding-left: 30px;
            font-size: 15px;
        }

        .reports {
            text-align: justify;
        }
        .reports h1 {
            text-align: center;
	   font-size: 30px;
	   color: #FFFFFF;
        background: #803333;
            margin-bottom: 5px;

        }
        .pub-index {
            grid-row: 2;
        }



.projects-container {
        display: grid;
        grid-template-columns: 0.8fr 1fr 1fr 1fr 1fr 1fr 0.8fr;
        grid-row-gap: 25px;
        grid-template-rows: .7fr .7fr 1fr .7fr .35fr .08fr;
        width: 100vw;

    }

    .projects-footer {
        grid-row: 6;
        grid-column: 1 / span 7;
    }

    .project1 {
        grid-column: 2 / span 5;
        grid-row: 1 / span 1;
/*         border-bottom: 2px dotted black; */
	    margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;

            border: 1px #2f2f2f solid;
    }

    .p1-title {
        text-align: center;
        font-size: 24px;
        color: black;
    }

    .p1-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;


    }

    .p1-p {
        text-align: justify;

    }

    .project2 {
        grid-column: 2 / span 5;
        grid-row: 2 / span 1;
/*         padding-bottom: 15px;
        border-bottom: 2px dotted black; */
	    margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;

            border: 1px #2f2f2f solid;
    }

    .p2-title {
        text-align: center;
        font-size: 24px;
        color: black;
    }

    .p2-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }
    .p2-p {
        text-align: justify;
    }

    .project3 {
        grid-column: 2 / span 5;
        grid-row: 3 / span 1;
/*         padding-bottom: 15px;
        border-bottom: 2px dotted black; */
	    margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;

            border: 1px #2f2f2f solid;
    }

    .p3-title {
        text-align: center;
        font-size: 24px;
        color: black;
    }

    .p3-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }
    .p3-p {
        text-align: justify;
    }

    .project4 {
        grid-column: 2/ span 5;
        grid-row: 4 / span 1;
/*         padding-bottom: 15px;
        border-bottom: 2px dotted black; */
	    margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;

            border: 1px #2f2f2f solid;
    }

    .p4-title {
        text-align: center;
        font-size: 24px;
        color: black;
    }

    .p4-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }
    .p4-p {
        text-align: justify;
    }

    .project5 {
        grid-column: 2/ span 5;
        grid-row: 5 / span 1;
/*         padding-bottom: 15px;
        border-bottom: 2px dotted black; */
	    margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;

            border: 1px #2f2f2f solid;
    }

    .p5-title {
        text-align: center;
        font-size: 24px;
        color: black;
    }

    .p5-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }
    .p5-p {
        text-align: justify;
    }

    .projectimg {
        width: 100%;
        height: auto;
        border: 2px #aaaaaa solid;

    }

 .resume-container {
        display:grid;
        grid-template-columns: .5fr 3fr .5fr;
    }
    .inner-content{
      display:grid;
      grid-template-rows: 4fr;
    }
    .inner-content > div{
      grid-row: 1 /span 1;
    }
    .right-content{
      text-align: right;
    }
    .resume-content{
        grid-column: 2 / span 1;
        color: black;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .resume-content h2{
         color: #000000;
        border-bottom: 1px solid #803333;
        padding: 10px;
    }
    .resume-content p {
        padding: 10px;
        font-size: 14px;
    }
    .resume-content2{
        grid-column: 2 / span 1;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .resume-content2 p {
        padding: 10px;
        font-size: 14px;
    }
    .resume-content2 h2 {
         color: #000000;
        border-bottom: 1px solid #803333;
        padding: 10px;
    }
    .resume-content3{
        grid-column: 2 / span 1;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .resume-content3 h2{
     color: #000000;
        border-bottom: 1px solid #803333;
        padding: 10px;
    }
    .resume-content3 h3{
      font-size: 16px;
      padding: 10px;

    }
    .resume-content3 p{
        padding: 10px;
        font-size: 14px;
        padding-top: 0px;
        padding-bottom: 15px;
    }
    .resume-content3 ul{
        padding-left: 50px;
        font-size: 14px;
        padding-bottom: 20px;

    }
    .resume-content4{
        grid-column: 2 / span 1;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 100px;
    }
    .resume-content4 h2{
      color: #000000;
        border-bottom: 1px solid #803333;
        padding: 10px;
    }
    .resume-content4 h3{
      font-size: 16px;
      padding: 10px;

    }
    .resume-content4 p{
        padding: 10px;
        font-size: 14px;
        padding-top: 0px;
        padding-bottom: 15px;
        
    }
    .resume-content4 ul{
        padding-left: 50px;
        font-size: 14px;
        padding-bottom: 20px;

    }
    .right-content p{
      padding: 10px;
      font-size: 14px;
      font-style: italic;
    }


a.navi:link, a.navi:active, a.navi:visited {
	display: block;
	font-size: 10pt;
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 50px;
	width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
	text-align: center;
	color: #ffffff;
	font-style: normal;
	background-color: #803333;
	text-decoration: none;
	margin-bottom: 10px;
	margin-top: 50px;
    padding-top: 15px;
	border: 2px #2f2f2f solid;
}
a.navi:hover {
	background-color: #2f2f2f;
	color: #ffffff;
    transition: background-color 0.4s ease-in-out;
}

/* MEDIA QUERY 1 */

@media screen and (min-width: 700px){

    nav ul {
        list-style-type: none;
        color: #000000;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    nav li{
        display: inline-block;
        margin-right: 10px;
        padding: 25px;
        text-decoration: none;
        font-size: 20px;
        color: #FFFFFF;
        width: 15%;
        text-align: center;
    }

    nav li:hover{
        text-decoration: none;
    }

    nav a{
        color: black;
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        color: #FFFFFF;
    }

    nav a:hover {
        text-decoration:none;
        background: #2a2a2a;
        color: #eeeeee;
    }

    .current {
        text-decoration: underline;
        font-weight: bold;
    }

      .logo {
        width: 350px;

    }


    .skip a {
        background: white;
        left: 0;
        padding: 6px;
        position: absolute;
        top: -40px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
    }

    .skip a:focus {
        top: 0px;
    }


    .img {
        width: 100%;
        height: auto;
        /* margin-right: 30px; */
        border: 2px white solid;
        border-radius: 5px;
        border: 2px solid #eeeeee;
        margin-top: 10px;
        max-height: 350px;
        max-width: 250px;
        align-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    *:focus {
        border: 1px solid #2a2a2a;
    }

    .index-container {
        display: grid;
        grid-template-columns: .5fr 1fr 1fr .5fr;
        grid-row-gap: 15px;
        grid-template-rows: .8fr .1fr 0.6fr 0.3fr .2fr 1fr .05fr;
        grid-column-gap: 15px;
        width: 100vw;
    }

    .content{
        grid-column: 2/span 2;
        grid-row: 4/span 3;
        align-items: center;
        background: transparent;
        color: black;
        text-align: justify;
        padding-right: 5%;
        padding-left: 5%;
        border: 1px solid #000000;
        margin-bottom: 100px;
        margin-top: 30px;
        padding-top: 20px;

    }
    
    .content-container {
        display: grid;
        grid-template columns: 100px 100px;
        grid-template-rows: 1fr 1fr 1fr;
        width: 60vw;
        
        
    }
    
    .content1{
        grid-column: 1/span 1;
        grid-row: 1/span 3;
        width: 200px;
        align-items: center;
        background: transparent;
        color: black;
        text-align: justify;
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 50px;
        


    }
    
    .content2{
        grid-column: 2/span 1;
        grid-row: 1/span 3;
        
        align-items: center;
        background: transparent;
        color: black;
        text-align: justify;
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 50px;
        padding-top: 10px;
        


    }

    .stuff {
        text-align: center;
    }


    .content h2 {
        font-size: 40px;
        padding-top: 20px;
        padding-bottom: 0px;
        color: black;
        text-align:center;
    }
    .index-head2 {
        grid-column: 1 / span 4;
        grid-row: 1/span 3;
        background: #FFFFFF;
        background-attachment: fixed;
        background-image: url('../images/michigan.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }

    .index-footer {
        grid-row: 4;
        grid-column: 1 / span 4;
    }

    .nav-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 45px 30px 10px 75px 1px;
    }

    .all-nav{
        grid-column: 1;
        align-items: center;
        text-align: center;
        grid-row: 3 / span 2;
        background: #2f2f2f;
        margin-top: 5px;
        padding-left: 5%;
        border-bottom: 2px solid white;
        padding-top: 0px;
    }

    .all-header {
        background: #2f2f2f;
        color: #000000;
        grid-column: 1;
        align-items: center;
        text-align: center;
        grid-row: 1/span 3;
        padding-top: 15px;
        padding-left: 30px;

    }

    /* PROJECTS */

    .projects-container {
        display: grid;
        grid-template-columns: 0.8fr 1fr 1fr 1fr 1fr 1fr 0.8fr;
        grid-row-gap: 25px;
        grid-template-rows: .7fr .7fr 1fr .7fr .35fr .08fr;
        width: 100vw;

    }

    .projects-footer {
        grid-row: 6;
        grid-column: 1 / span 7;
    }

    .project1 {
        grid-column: 2 / span 5;
        grid-row: 1 / span 1;
/*         padding-bottom: 15px;
        border-bottom: 2px dotted black;
        margin-top: 20px; */
	    margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;

            border: 1px #2f2f2f solid;
    }

    .p1-title {
        text-align: center;
        font-size: 24px;
        color: black;
    }

    .p1-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;


    }

    .p1-p {
        text-align: justify;

    }

    .project2 {
        grid-column: 2 / span 5;
        grid-row: 2 / span 1;
/*         padding-bottom: 15px;
        border-bottom: 2px dotted black; */
	    margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;

            border: 1px #2f2f2f solid;
    }

    .p2-title {
        text-align: center;
        font-size: 24px;
        color: black;
    }

    .p2-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }
    .p2-p {
        text-align: justify;
    }

    .project3 {
        grid-column: 2 / span 5;
        grid-row: 3 / span 1;
/*         padding-bottom: 15px;
        border-bottom: 2px dotted black; */
	    margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;

            border: 1px #2f2f2f solid;
    }

    .p3-title {
        text-align: center;
        font-size: 24px;
        color: black;
    }

    .p3-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }
    .p3-p {
        text-align: justify;
    }

    .project4 {
        grid-column: 2/ span 5;
        grid-row: 4 / span 1;
/*         padding-bottom: 15px;
        border-bottom: 2px dotted black; */
	    margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;

            border: 1px #2f2f2f solid;
    }

    .p4-title {
        text-align: center;
        font-size: 24px;
        color: black;
    }

    .p4-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }
    .p4-p {
        text-align: justify;
    }

    .project5 {
        grid-column: 2/ span 5;
        grid-row: 5 / span 1;
/*         padding-bottom: 15px;
        border-bottom: 2px dotted black; */
	    margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;

            border: 1px #2f2f2f solid;
    }

    .p5-title {
        text-align: center;
        font-size: 24px;
        color: black;
    }

    .p5-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }
    .p5-p {
        text-align: justify;
    }

    .projectimg {
        width: 100%;
        height: auto;
        border: 2px #aaaaaa solid;

    }



    .student-container {
        display:grid;
        grid-template-columns: .5fr 3fr .5fr;
        grid-template-rows: 1fr .5fr .50fr;
    }

    .student-p {
        grid-column: 2 / span 1;
        grid-row: 1/span 1;
        /* background: white; */
        color: black;
        margin-top: 20px;
        padding: 10px;
    }
    .student-p p {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .student-p h1 {
       font-size: 30px;
        text-align: center;
	color: #FFFFFF;
        
        background: #803333;
    }
    .prospective{
	grid-column: 2 / span 1;
        grid-row: 2/span 1;
        margin-top: 20px;
        padding: 10px;
    }
    .prospective h1 {
        text-align: center;
	font-size: 30px;
	color: #FFFFFF;
        
        background: #803333;
    }

    .student-footer {
        bottom: 0%;
    }
    .publications-container {
            display: grid;
            grid-template-columns: .18fr 1fr .18fr;
            grid-template-rows: 0.9fr .17fr .3fr .1fr .1fr .3fr .1fr .05fr;
    /*         grid-column-gap: 20px; */

        }

        .published {
            grid-column: 2;
            grid-row:1;

            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;

            border: 1px #2f2f2f solid;

        }

        .published ol {
            font-size: 15px;
            padding-left: 15px;
        }

        .published li {
            text-align: justify;

        }

        .published h2 {
            font-size: 30px;
            color: black;
            text-align: center;

        }

        .tutorials{
            grid-column: 2;
            grid-row: 2;

            margin-bottom: 20px;
            padding: 20px;
            border: 1px #2f2f2f solid;
        }

        .tutorials ol {
            font-size: 15px;
            padding-left: 15px;
        }

        .tutorials li{
            text-align: justify;
        }

        .tutorials h2 {
            font-size: 30px;
            color: black;
            text-align: center;

        }

        .workshops {
            grid-column: 2;
            grid-row:3;

            margin-bottom: 20px;
            padding: 20px;
            border: 1px #2f2f2f solid;
        }
        .workshops ol {
            font-size: 15px;
            padding-left: 15px;
        }
        .workshops li {
            text-align: justify;

        }
        .workshops h2 {
            font-size: 30px;
            color: black;
            text-align: center;

        }


        .technical {
            grid-column: 2;
            grid-row:4;

            margin-bottom: 20px;
            padding: 20px;
            border: 1px #2f2f2f solid;
        }
        .technical ol {
            padding-left: 15px;
            font-size: 15px;
        }
        .technical li {
            text-align: justify;

        }

        .technical h2 {
            font-size: 30px;
            color: black;
            text-align: center;

        }

        .progress {
            grid-column: 2;
            grid-row:5;

            margin-bottom: 20px;
            padding: 20px;
            border: 1px #2f2f2f solid;
        }
        .progress ol {
            padding-left: 15px;
            font-size: 15px;
        }

        .progress {
            text-align: justify;
        }
        .progress h2 {
            font-size: 30px;
            color: black;
            text-align: center;

        }

	.invited-talks {
            grid-column: 2;
            grid-row:6;

            margin-bottom: 20px;
            padding: 20px;
            border: 1px #2f2f2f solid;
        }
        .invited-talks ol {
            padding-left: 15px;
            font-size: 15px;
        }

        .invited-talks {
            text-align: justify;
        }
        .invited-talks h2 {
            font-size: 30px;
            color: black;
            text-align: center;

        }

	.reports {
            grid-column: 2;
            grid-row:7;

            margin-bottom: 40px;
            padding: 20px;
            border: 1px #2f2f2f solid;
        }
        .reports ol {
            padding-left: 15px;
            font-size: 15px;
        }

        .reports {
            text-align: justify;
        }
        .reports h2 {
            font-size: 30px;
            color: black;
            text-align: center;
        }
        .pub-index {
            grid-row: 2;
        }
    /*
    .reports{
      grid-column: 1 / span 2;
    }
    .reports ol{
      padding-left: 50px;
      font-size: 14px;
    } */
    .resume-container {
        display:grid;
        grid-template-columns: .5fr 3fr .5fr;
    }
    .inner-content{
      display:grid;
      grid-template-rows: 4fr;
    }
    .inner-content > div{
      grid-row: 1 /span 1;
    }
    .right-content{
      text-align: right;
    }
    .resume-content{
        grid-column: 2 / span 1;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    

    a.navi:link, a.navi:active, a.navi:visited {
	display: block;
	font-size: 10pt;
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 50px;
	width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
	text-align: center;
	color: #ffffff;
	font-style: normal;
	background-color: #803333;
	text-decoration: none;
	margin-bottom: 10px;
	margin-top: 50px;
    padding-top: 15px;
	border: 2px #2f2f2f solid;
}
a.navi:hover {
	background-color: #2f2f2f;
	color: #ffffff;
    transition: background-color 0.4s ease-in-out;
}
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a {
      background: white;
      left: 0;
      padding: 6px;
      position: absolute;
      top: -40px;
      -webkit-transition: 0s;
      transition: 0s;
      z-index: 1;
  }

  .skip a:focus{
      top:0;
  }
}
